<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
  <title>Sang Yeop Lee</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap and Font Awesome css-->
  <!-- we use cdn but you can also include local files located in css directory-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="../public/css/style.css" id="theme-stylesheet">
</head>
<header>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</header>
<body>
  <div class="wrapper">
    <div class="main">
      <!-- page 1-->
      <section id="page1">
        <div class="overlay"></div>
        <div class="content">
          <div class="container clearfix">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-12">
                <p class="italic">Hello, nice to meet you!</p>
                <h1>My name is Sang!</h1>
                <p class="italic">I am a Full Stack Developer, who follows my dream in creating new technologies to change and improve everyday
                  life. I love coding apps with MERN Stack.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="icon faa-float animated">
          <i class="fa fa-angle-double-down"></i>
        </div>
      </section>
      <!-- page 2-->
      <section id="page2">
        <div class="content">
          <div class="container clearfix">
            <div class="row">
              <div class="col-md-6">
                <h2 class="heading">About me</h2>
                <p class="lead"></p>
                <!-- <p>I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of your organization.With nearly 7 years of experience of Computer Graphics and UX/ UI designer in the technology industries. Sang is a multi-talented, highly motivated and proven technologist.</p> -->
                <p align="left">Recently taken up the challenge of a coding bootcamp to expand his skills even further into his career. I
                  have a degree in Graphic Design from San Jose State University and learned technologies as JavaScript,
                  React, MongoDB, Node and Express also known as the MERN stack.</p>
                <p align="left">There’s no doubt that I’m still aware of the power and importance of great design. But most of the time,
                  designers are only allowed to deal with the “client’s problem,” instead of tackling “real problems client
                  have.” I spend most of the time guessing their client’s wishes with no profound data and analysis, but
                  only intuition, experience, or common sense. I got tired of this game 7 years into my graphic design career.
                  That’s when I decided to take a serious look at the always trending front-end development topic on Medium.</p>
                <p align="left">I transitioned from a Graphic Designer to Front-End Developer</p>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <p>
                  <img src="../public/img/about.jpg" alt="" class="img-circle">
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- page 3 - class section-gray adds gray background-->
      <section id="page3" class="section-gray">
        <div class="content">
          <div class="container clearfix">
            <div class="row services">
              <div class="col-md-12">
                <h2 class="heading">Skills</h2>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#E44D26" d="M19.037 113.876l-10.005-112.215h109.936l-10.016 112.198-45.019 12.48z"></path>
                          <path fill="#F16529" d="M64 116.8l36.378-10.086 8.559-95.878h-44.937z"></path>
                          <path fill="#EBEBEB" d="M64 52.455h-18.212l-1.258-14.094h19.47v-13.762h-34.511l.33 3.692 3.382 37.927h30.799zM64 88.198l-.061.017-15.327-4.14-.979-10.975h-13.817l1.928 21.609 28.193 7.826.063-.017z"></path>
                          <path fill="#fff" d="M63.952 52.455v13.763h16.947l-1.597 17.849-15.35 4.143v14.319l28.215-7.82.207-2.325 3.234-36.233.335-3.696h-3.708zM63.952 24.599v13.762h33.244l.276-3.092.628-6.978.329-3.692z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">HTML 5</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#1572B6" d="M18.814 114.123l-10.054-112.771h110.48l-10.064 112.754-45.243 12.543-45.119-12.526z"></path>
                          <path fill="#33A9DC" d="M64.001 117.062l36.559-10.136 8.601-96.354h-45.16v106.49z"></path>
                          <path fill="#fff" d="M64.001 51.429h18.302l1.264-14.163h-19.566v-13.831h34.681999999999995l-.332 3.711-3.4 38.114h-30.95v-13.831z"></path>
                          <path fill="#EBEBEB" d="M64.083 87.349l-.061.018-15.403-4.159-.985-11.031h-13.882l1.937 21.717 28.331 7.863.063-.018v-14.39z"></path>
                          <path fill="#fff" d="M81.127 64.675l-1.666 18.522-15.426 4.164v14.39l28.354-7.858.208-2.337 2.406-26.881h-13.876z"></path>
                          <path fill="#EBEBEB" d="M64.048 23.435v13.831000000000001h-33.407999999999994l-.277-3.108-.63-7.012-.331-3.711h34.646zM64.001 51.431v13.831000000000001h-15.209l-.277-3.108-.631-7.012-.33-3.711h16.447z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">CSS 3</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#F0DB4F" d="M1.408 1.408h125.184v125.185h-125.184z"></path>
                          <path fill="#323330" d="M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zm-46.885-37.793h-11.709l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Javascript</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#0868AC" d="M65.283 106.928c-.828-.187-1.633-.446-2.441-.685l-.609-.185c-.79-.242-1.573-.497-2.352-.765l-.323-.117c-.698-.245-1.388-.504-2.074-.769l-.582-.229c-.752-.297-1.5-.607-2.238-.931l-.447-.198c-.635-.288-1.263-.578-1.889-.879l-.546-.262c-.491-.239-.977-.493-1.461-.743-.324-.171-.654-.332-.975-.51-.592-.317-1.173-.646-1.751-.982l-.591-.33c-.769-.452-1.529-.921-2.28-1.397l-.615-.41c-.546-.351-1.088-.709-1.623-1.079l-.523-.367c-.516-.365-1.026-.734-1.534-1.109l-.679-.514c-.464-.355-.927-.713-1.384-1.082l-.617-.495c-.581-.479-1.156-.959-1.724-1.453l-.188-.159c-.614-.539-1.217-1.092-1.812-1.647l-.51-.491c-.441-.42-.875-.843-1.302-1.277l-.51-.509c-.543-.556-1.076-1.119-1.599-1.69l-.078-.084c-.553-.604-1.092-1.221-1.621-1.844l-.424-.504c-.395-.475-.785-.956-1.167-1.442l-.427-.532c-.459-.596-.908-1.189-1.347-1.794-12.15-16.574-16.516-39.432-6.804-58.204l-8.611 10.921c-11.029 15.851-9.656 36.476-1.231 53.32.2.404.411.801.617 1.198l.395.759.245.437.439.786c.262.461.53.92.805 1.379l.458.756c.304.491.615.976.934 1.46l.398.614c.438.655.888 1.309 1.352 1.951l.039.05.228.308c.4.553.814 1.099 1.232 1.639l.463.59c.373.469.752.935 1.139 1.399l.435.52c.518.61 1.047 1.217 1.586 1.812l.032.033.062.068c.526.575 1.066 1.137 1.612 1.699l.517.521c.423.426.853.845 1.287 1.262l.526.5c.58.547 1.166 1.083 1.764 1.607l.028.022.307.262c.526.456 1.062.909 1.603 1.353l.664.529c.441.354.887.702 1.336 1.044l.714.543c.495.365.995.724 1.499 1.075l.546.387.15.107c.478.329.967.646 1.456.963l.63.42c.749.474 1.51.943 2.278 1.396l.63.355c.565.326 1.134.646 1.711.959.312.168.632.327.946.488.407.213.811.429 1.225.636l.283.137.501.242c.641.306 1.287.607 1.94.897l.41.184c.748.327 1.502.641 2.263.941l.551.217c.704.271 1.418.539 2.135.791l.268.093c.786.275 1.581.53 2.381.779l.575.172c.814.245 1.618.538 2.458.693 53.339 9.727 68.833-32.053 68.833-32.053-13.014 16.954-36.112 21.426-57.997 16.447zM46.069 63.697c1.195 1.713 2.52 3.751 4.105 5.127.575.633 1.176 1.251 1.79 1.858l.472.465c.596.578 1.202 1.146 1.828 1.698l.074.064.018.018c.693.608 1.408 1.191 2.135 1.767l.484.378c.729.559 1.472 1.107 2.233 1.631l.065.049c.336.232.679.448 1.02.672l.482.319c.544.349 1.096.689 1.656 1.015l.234.136c.483.278.973.552 1.463.818l.521.271c.339.177.678.358 1.024.53l.155.07c.702.346 1.411.68 2.136.995l.472.194c.578.246 1.163.486 1.75.71l.75.275c.533.198 1.068.378 1.608.559l.727.233c.767.238 1.525.539 2.324.672 41.183 6.823 50.69-24.886 50.69-24.886-8.57 12.343-25.168 18.233-42.879 13.635-.787-.207-1.562-.431-2.333-.674l-.7-.227c-.548-.177-1.092-.365-1.632-.562l-.736-.274c-.591-.228-1.176-.462-1.756-.708l-.473-.2c-.727-.316-1.443-.65-2.148-.999-.364-.177-.721-.364-1.078-.548l-.622-.32c-.458-.248-.914-.506-1.363-.77l-.326-.185c-.558-.325-1.106-.661-1.65-1.008l-.498-.332c-.358-.232-.717-.469-1.069-.707-.759-.524-1.497-1.072-2.226-1.628l-.501-.395c-7.752-6.12-13.897-14.486-16.819-23.971-3.062-9.836-2.401-20.878 2.903-29.84l-6.517 9.2c-7.977 11.478-7.543 26.844-1.321 38.983 1.043 2.038 2.216 4.013 3.528 5.892zM89.476 49.498c.339.125.678.237 1.022.354l.451.143c.484.152.966.329 1.467.424 22.739 4.394 28.908-11.669 30.549-14.034-5.403 7.779-14.482 9.646-25.623 6.942-.88-.213-1.848-.531-2.696-.832-1.088-.388-2.16-.83-3.201-1.329-1.979-.951-3.864-2.104-5.612-3.424-9.969-7.565-16.162-21.994-9.657-33.745l-3.52 4.851c-4.702 6.92-5.164 15.514-1.901 23.156 3.441 8.112 10.492 14.475 18.721 17.494z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">jQuery</h5>
                    </div>
                  </div>
                  <!-- start a new row  -->
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#61DAFB" d="M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3.6-2.4 1.1-4.8 1.5-7.1 2.1-13.2-.2-22.5-6.6-26.1-1.9-1.1-4-1.6-6.4-1.6-7 0-15.9 5.2-24.9 13.9-9-8.7-17.9-13.9-24.9-13.9-2.4 0-4.5.5-6.4 1.6-6.4 3.7-8.7 13-6.6 26.1.4 2.3.9 4.7 1.5 7.1-2.4.7-4.7 1.4-6.9 2.3-12.5 4.8-19.3 11.4-19.3 18.8s6.9 14 19.3 18.8c2.2.8 4.5 1.6 6.9 2.3-.6 2.4-1.1 4.8-1.5 7.1-2.1 13.2.2 22.5 6.6 26.1 1.9 1.1 4 1.6 6.4 1.6 7.1 0 16-5.2 24.9-13.9 9 8.7 17.9 13.9 24.9 13.9 2.4 0 4.5-.5 6.4-1.6 6.4-3.7 8.7-13 6.6-26.1-.4-2.3-.9-4.7-1.5-7.1 2.4-.7 4.7-1.4 6.9-2.3 12.5-4.8 19.3-11.4 19.3-18.8s-6.8-14-19.3-18.8zm-14.8-30.5c4.1 2.4 5.5 9.8 3.8 20.3-.3 2.1-.8 4.3-1.4 6.6-5.2-1.2-10.7-2-16.5-2.5-3.4-4.8-6.9-9.1-10.4-13 7.4-7.3 14.9-12.3 21-12.3 1.3 0 2.5.3 3.5.9zm-11.2 59.3c-1.8 3.2-3.9 6.4-6.1 9.6-3.7.3-7.4.4-11.2.4-3.9 0-7.6-.1-11.2-.4-2.2-3.2-4.2-6.4-6-9.6-1.9-3.3-3.7-6.7-5.3-10 1.6-3.3 3.4-6.7 5.3-10 1.8-3.2 3.9-6.4 6.1-9.6 3.7-.3 7.4-.4 11.2-.4 3.9 0 7.6.1 11.2.4 2.2 3.2 4.2 6.4 6 9.6 1.9 3.3 3.7 6.7 5.3 10-1.7 3.3-3.4 6.6-5.3 10zm8.3-3.3c1.5 3.5 2.7 6.9 3.8 10.3-3.4.8-7 1.4-10.8 1.9 1.2-1.9 2.5-3.9 3.6-6 1.2-2.1 2.3-4.2 3.4-6.2zm-25.6 27.1c-2.4-2.6-4.7-5.4-6.9-8.3 2.3.1 4.6.2 6.9.2 2.3 0 4.6-.1 6.9-.2-2.2 2.9-4.5 5.7-6.9 8.3zm-18.6-15c-3.8-.5-7.4-1.1-10.8-1.9 1.1-3.3 2.3-6.8 3.8-10.3 1.1 2 2.2 4.1 3.4 6.1 1.2 2.2 2.4 4.1 3.6 6.1zm-7-25.5c-1.5-3.5-2.7-6.9-3.8-10.3 3.4-.8 7-1.4 10.8-1.9-1.2 1.9-2.5 3.9-3.6 6-1.2 2.1-2.3 4.2-3.4 6.2zm25.6-27.1c2.4 2.6 4.7 5.4 6.9 8.3-2.3-.1-4.6-.2-6.9-.2-2.3 0-4.6.1-6.9.2 2.2-2.9 4.5-5.7 6.9-8.3zm22.2 21l-3.6-6c3.8.5 7.4 1.1 10.8 1.9-1.1 3.3-2.3 6.8-3.8 10.3-1.1-2.1-2.2-4.2-3.4-6.2zm-54.5-16.2c-1.7-10.5-.3-17.9 3.8-20.3 1-.6 2.2-.9 3.5-.9 6 0 13.5 4.9 21 12.3-3.5 3.8-7 8.2-10.4 13-5.8.5-11.3 1.4-16.5 2.5-.6-2.3-1-4.5-1.4-6.6zm-24.7 29c0-4.7 5.7-9.7 15.7-13.4 2-.8 4.2-1.5 6.4-2.1 1.6 5 3.6 10.3 6 15.6-2.4 5.3-4.5 10.5-6 15.5-13.8-4-22.1-10-22.1-15.6zm28.5 49.3c-4.1-2.4-5.5-9.8-3.8-20.3.3-2.1.8-4.3 1.4-6.6 5.2 1.2 10.7 2 16.5 2.5 3.4 4.8 6.9 9.1 10.4 13-7.4 7.3-14.9 12.3-21 12.3-1.3 0-2.5-.3-3.5-.9zm60.8-20.3c1.7 10.5.3 17.9-3.8 20.3-1 .6-2.2.9-3.5.9-6 0-13.5-4.9-21-12.3 3.5-3.8 7-8.2 10.4-13 5.8-.5 11.3-1.4 16.5-2.5.6 2.3 1 4.5 1.4 6.6zm9-15.6c-2 .8-4.2 1.5-6.4 2.1-1.6-5-3.6-10.3-6-15.6 2.4-5.3 4.5-10.5 6-15.5 13.8 4 22.1 10 22.1 15.6 0 4.7-5.8 9.7-15.7 13.4z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">React</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#83CD29" d="M112.678 30.334l-44.143-25.605c-2.781-1.584-6.424-1.584-9.227 0l-44.488 25.605c-2.869 1.651-4.82 4.754-4.82 8.073v51.142c0 3.319 1.992 6.423 4.862 8.083l11.729 6.688c5.627 2.772 7.186 2.772 9.746 2.772 8.334 0 12.662-5.039 12.662-13.828v-50.49c.001-.713.446-1.774-.255-1.774h-5.622c-.712 0-2.122 1.061-2.122 1.773v50.49c0 3.896-3.616 7.773-10.202 4.48l-12.122-7.013c-.422-.23-.676-.693-.676-1.181v-51.142c0-.482.463-.966.891-1.213l44.378-25.561c.415-.235 1.002-.235 1.415 0l43.963 25.555c.421.253.354.722.354 1.219v51.142c0 .488.092.963-.323 1.198l-44.133 25.576c-.378.227-.87.227-1.285 0l-11.317-6.749c-.341-.198-.752-.269-1.08-.086-3.145 1.783-3.729 2.02-6.679 3.043-.727.253-1.799.692.408 1.929l14.798 8.754c1.416.82 3.027 1.246 4.647 1.246 1.642 0 3.249-.426 4.666-1.246l43.976-25.582c2.871-1.672 4.322-4.764 4.322-8.083v-51.142c-.001-3.319-1.452-6.414-4.323-8.073zM77.727 81.445c-11.727 0-14.309-3.235-15.17-9.066-.102-.628-.634-1.379-1.274-1.379h-5.73c-.709 0-1.28.86-1.28 1.566 0 7.466 4.06 16.512 23.454 16.512 14.038 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.104 0 12.46 1.954 13.841 8.091.119.577.646.991 1.241.991h5.754c.354 0 .691-.143.939-.396.241-.272.367-.613.336-.979-.893-10.569-7.913-15.494-22.112-15.494-12.632 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.956-3.978 7.067-13.308 7.067z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">NodeJS</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path d="M126.67,98.44c-4.56,1.16-7.38.05-9.91-3.75-5.68-8.51-11.95-16.63-18-24.9-.78-1.07-1.59-2.12-2.6-3.45C89,76,81.85,85.2,75.14,94.77c-2.4,3.42-4.92,4.91-9.4,3.7L92.66,62.34,67.6,29.71c4.31-.84,7.29-.41,9.93,3.45,5.83,8.52,12.26,16.63,18.67,25.21C102.65,49.82,109,41.7,115,33.26c2.41-3.42,5-4.72,9.33-3.46-3.28,4.35-6.49,8.63-9.72,12.88-4.36,5.73-8.64,11.53-13.16,17.14-1.61,2-1.35,3.3.09,5.19C109.9,76,118.16,87.1,126.67,98.44Z"></path>
                            <path d="M1.33,61.74c.72-3.61,1.2-7.29,2.2-10.83,6-21.43,30.6-30.34,47.5-17.06C60.93,41.64,63.39,52.62,62.9,65H7.1c-.84,22.21,15.15,35.62,35.53,28.78,7.15-2.4,11.36-8,13.47-15,1.07-3.51,2.84-4.06,6.14-3.06-1.69,8.76-5.52,16.08-13.52,20.66-12,6.86-29.13,4.64-38.14-4.89C5.26,85.89,3,78.92,2,71.39c-.15-1.2-.46-2.38-.7-3.57Q1.33,64.78,1.33,61.74ZM7.2,60.25H57.63c-.33-16.06-10.33-27.47-24-27.57C18.63,32.56,7.85,43.7,7.2,60.25Z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">Express</h5>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#439934" d="M88.038 42.812c1.605 4.643 2.761 9.383 3.141 14.296.472 6.095.256 12.147-1.029 18.142-.035.165-.109.32-.164.48-.403.001-.814-.049-1.208.012-3.329.523-6.655 1.065-9.981 1.604-3.438.557-6.881 1.092-10.313 1.687-1.216.21-2.721-.041-3.212 1.641-.014.046-.154.054-.235.08l.166-10.051c-.057-8.084-.113-16.168-.169-24.252l1.602-.275c2.62-.429 5.24-.864 7.862-1.281 3.129-.497 6.261-.98 9.392-1.465 1.381-.215 2.764-.412 4.148-.618z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#45A538" d="M61.729 110.054c-1.69-1.453-3.439-2.842-5.059-4.37-8.717-8.222-15.093-17.899-18.233-29.566-.865-3.211-1.442-6.474-1.627-9.792-.13-2.322-.318-4.665-.154-6.975.437-6.144 1.325-12.229 3.127-18.147l.099-.138c.175.233.427.439.516.702 1.759 5.18 3.505 10.364 5.242 15.551 5.458 16.3 10.909 32.604 16.376 48.9.107.318.384.579.583.866l-.87 2.969z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#46A037" d="M88.038 42.812c-1.384.206-2.768.403-4.149.616-3.131.485-6.263.968-9.392 1.465-2.622.417-5.242.852-7.862 1.281l-1.602.275-.012-1.045c-.053-.859-.144-1.717-.154-2.576-.069-5.478-.112-10.956-.18-16.434-.042-3.429-.105-6.857-.175-10.285-.043-2.13-.089-4.261-.185-6.388-.052-1.143-.236-2.28-.311-3.423-.042-.657.016-1.319.029-1.979.817 1.583 1.616 3.178 2.456 4.749 1.327 2.484 3.441 4.314 5.344 6.311 7.523 7.892 12.864 17.068 16.193 27.433z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#409433" d="M65.036 80.753c.081-.026.222-.034.235-.08.491-1.682 1.996-1.431 3.212-1.641 3.432-.594 6.875-1.13 10.313-1.687 3.326-.539 6.652-1.081 9.981-1.604.394-.062.805-.011 1.208-.012-.622 2.22-1.112 4.488-1.901 6.647-.896 2.449-1.98 4.839-3.131 7.182-1.72 3.503-3.863 6.77-6.353 9.763-1.919 2.308-4.058 4.441-6.202 6.548-1.185 1.165-2.582 2.114-3.882 3.161l-.337-.23-1.214-1.038-1.256-2.753c-.865-3.223-1.319-6.504-1.394-9.838l.023-.561.171-2.426c.057-.828.133-1.655.168-2.485.129-2.982.241-5.964.359-8.946z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#4FAA41" d="M65.036 80.753c-.118 2.982-.23 5.964-.357 8.947-.035.83-.111 1.657-.168 2.485l-.765.289c-1.699-5.002-3.399-9.951-5.062-14.913-2.75-8.209-5.467-16.431-8.213-24.642-2.217-6.628-4.452-13.249-6.7-19.867-.105-.31-.407-.552-.617-.826l4.896-9.002c.168.292.39.565.496.879 2.265 6.703 4.526 13.407 6.768 20.118 2.916 8.73 5.814 17.467 8.728 26.198.116.349.308.671.491 1.062l.67-.78c-.056 3.351-.112 6.701-.167 10.052z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#4AA73C" d="M43.155 32.227c.21.274.511.516.617.826 2.248 6.618 4.483 13.239 6.7 19.867 2.746 8.211 5.463 16.433 8.213 24.642 1.662 4.961 3.362 9.911 5.062 14.913l.765-.289-.171 2.426-.155.559c-.266 2.656-.49 5.318-.814 7.968-.163 1.328-.509 2.632-.772 3.947-.198-.287-.476-.548-.583-.866-5.467-16.297-10.918-32.6-16.376-48.9-1.737-5.187-3.483-10.371-5.242-15.551-.089-.263-.34-.469-.516-.702 1.09-2.947 2.181-5.894 3.272-8.84z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#57AE47" d="M65.202 70.702l-.67.78c-.183-.391-.375-.714-.491-1.062-2.913-8.731-5.812-17.468-8.728-26.198-2.242-6.711-4.503-13.415-6.768-20.118-.105-.314-.327-.588-.496-.879l6.055-7.965c.191.255.463.482.562.769 1.681 4.921 3.347 9.848 5.003 14.778 1.547 4.604 3.071 9.215 4.636 13.813.105.308.47.526.714.786l.012 1.045c.058 8.082.115 16.167.171 24.251z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#60B24F" d="M65.021 45.404c-.244-.26-.609-.478-.714-.786-1.565-4.598-3.089-9.209-4.636-13.813-1.656-4.93-3.322-9.856-5.003-14.778-.099-.287-.371-.514-.562-.769 1.969-1.928 3.877-3.925 5.925-5.764 1.821-1.634 3.285-3.386 3.352-5.968.003-.107.059-.214.145-.514l.519 1.306c-.013.661-.072 1.322-.029 1.979.075 1.143.259 2.28.311 3.423.096 2.127.142 4.258.185 6.388.069 3.428.132 6.856.175 10.285.067 5.478.111 10.956.18 16.434.008.861.098 1.718.152 2.577z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#A9AA88" d="M62.598 107.085c.263-1.315.609-2.62.772-3.947.325-2.649.548-5.312.814-7.968l.066-.01.066.011c.075 3.334.529 6.615 1.394 9.838-.176.232-.425.439-.518.701-.727 2.05-1.412 4.116-2.143 6.166-.1.28-.378.498-.574.744l-.747-2.566.87-2.969z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#B6B598" d="M62.476 112.621c.196-.246.475-.464.574-.744.731-2.05 1.417-4.115 2.143-6.166.093-.262.341-.469.518-.701l1.255 2.754c-.248.352-.59.669-.728 1.061l-2.404 7.059c-.099.283-.437.483-.663.722l-.695-3.985z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#C2C1A7" d="M63.171 116.605c.227-.238.564-.439.663-.722l2.404-7.059c.137-.391.48-.709.728-1.061l1.215 1.037c-.587.58-.913 1.25-.717 2.097l-.369 1.208c-.168.207-.411.387-.494.624-.839 2.403-1.64 4.819-2.485 7.222-.107.305-.404.544-.614.812-.109-1.387-.22-2.771-.331-4.158z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#CECDB7" d="M63.503 120.763c.209-.269.506-.508.614-.812.845-2.402 1.646-4.818 2.485-7.222.083-.236.325-.417.494-.624l-.509 5.545c-.136.157-.333.294-.398.477-.575 1.614-1.117 3.24-1.694 4.854-.119.333-.347.627-.525.938-.158-.207-.441-.407-.454-.623-.051-.841-.016-1.688-.013-2.533z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#DBDAC7" d="M63.969 123.919c.178-.312.406-.606.525-.938.578-1.613 1.119-3.239 1.694-4.854.065-.183.263-.319.398-.477l.012 3.64-1.218 3.124-1.411-.495z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#EBE9DC" d="M65.38 124.415l1.218-3.124.251 3.696-1.469-.572z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#CECDB7" d="M67.464 110.898c-.196-.847.129-1.518.717-2.097l.337.23-1.054 1.867z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#4FAA41" d="M64.316 95.172l-.066-.011-.066.01.155-.559-.023.56z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">MongoDB</h5>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill="#DD4814" d="M64 3.246c-33.555 0-60.755 27.2-60.755 60.754 0 33.552 27.2 60.754 60.755 60.754 33.554 0 60.755-27.202 60.755-60.754 0-33.554-27.2-60.754-60.755-60.754zm13.631 20.922c2.242-3.881 7.2-5.21 11.08-2.972 3.88 2.242 5.208 7.2 2.966 11.08-2.238 3.88-7.197 5.208-11.077 2.967-3.877-2.239-5.206-7.198-2.969-11.075zm-13.631 4.595c3.262 0 6.417.453 9.414 1.281.529 3.259 2.463 6.262 5.548 8.042 3.079 1.775 6.642 1.953 9.725.789 5.998 5.898 9.901 13.919 10.47 22.854l-11.558.17c-1.067-12.103-11.222-21.593-23.599-21.593-3.565 0-6.948.792-9.98 2.203l-5.637-10.099c4.708-2.33 10.01-3.647 15.617-3.647zm-41.311 43.349c-4.482 0-8.113-3.632-8.113-8.112 0-4.481 3.63-8.113 8.113-8.113 4.479 0 8.111 3.631 8.111 8.113 0 4.479-3.632 8.112-8.111 8.112zm7.191.722c2.561-2.09 4.2-5.271 4.2-8.834 0-3.565-1.639-6.747-4.2-8.836 2.194-8.489 7.475-15.738 14.571-20.483l5.931 9.934c-6.092 4.287-10.074 11.369-10.074 19.385s3.981 15.098 10.074 19.383l-5.931 9.937c-7.099-4.744-12.38-11.995-14.571-20.486zm58.831 33.964c-3.879 2.241-8.838.912-11.077-2.969-2.241-3.877-.911-8.835 2.969-11.076 3.877-2.239 8.838-.908 11.077 2.969 2.24 3.88.91 8.839-2.969 11.076zm-.024-17.673c-3.083-1.166-6.645-.991-9.725.788-3.084 1.783-5.019 4.782-5.547 8.042-2.998.83-6.153 1.284-9.415 1.284-5.607 0-10.909-1.318-15.616-3.649l5.636-10.1c3.032 1.411 6.415 2.204 9.98 2.204 12.378 0 22.532-9.488 23.596-21.592l11.561.169c-.569 8.935-4.472 16.956-10.47 22.854z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">Ubuntu</h5>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill="#00618A" d="M116.948 97.807c-6.863-.187-12.104.452-16.585 2.341-1.273.537-3.305.552-3.513 2.147.7.733.809 1.829 1.365 2.731 1.07 1.73 2.876 4.052 4.488 5.268 1.762 1.33 3.577 2.751 5.465 3.902 3.358 2.047 7.107 3.217 10.34 5.268 1.906 1.21 3.799 2.733 5.658 4.097.92.675 1.537 1.724 2.732 2.147v-.194c-.628-.8-.79-1.898-1.366-2.733l-2.537-2.537c-2.48-3.292-5.629-6.184-8.976-8.585-2.669-1.916-8.642-4.504-9.755-7.609l-.195-.195c1.892-.214 4.107-.898 5.854-1.367 2.934-.786 5.556-.583 8.585-1.365l4.097-1.171v-.78c-1.531-1.571-2.623-3.651-4.292-5.073-4.37-3.72-9.138-7.437-14.048-10.537-2.724-1.718-6.089-2.835-8.976-4.292-.971-.491-2.677-.746-3.318-1.562-1.517-1.932-2.342-4.382-3.511-6.633-2.449-4.717-4.854-9.868-7.024-14.831-1.48-3.384-2.447-6.72-4.293-9.756-8.86-14.567-18.396-23.358-33.169-32-3.144-1.838-6.929-2.563-10.929-3.513-2.145-.129-4.292-.26-6.438-.391-1.311-.546-2.673-2.149-3.902-2.927-4.894-3.092-17.448-9.817-21.072-.975-2.289 5.581 3.421 11.025 5.462 13.854 1.434 1.982 3.269 4.207 4.293 6.438.674 1.467.79 2.938 1.367 4.489 1.417 3.822 2.652 7.98 4.487 11.511.927 1.788 1.949 3.67 3.122 5.268.718.981 1.951 1.413 2.145 2.927-1.204 1.686-1.273 4.304-1.95 6.44-3.05 9.615-1.899 21.567 2.537 28.683 1.36 2.186 4.567 6.871 8.975 5.073 3.856-1.57 2.995-6.438 4.098-10.732.249-.973.096-1.689.585-2.341v.195l3.513 7.024c2.6 4.187 7.212 8.562 11.122 11.514 2.027 1.531 3.623 4.177 6.244 5.073v-.196h-.195c-.508-.791-1.303-1.119-1.951-1.755-1.527-1.497-3.225-3.358-4.487-5.073-3.556-4.827-6.698-10.11-9.561-15.609-1.368-2.627-2.557-5.523-3.709-8.196-.444-1.03-.438-2.589-1.364-3.122-1.263 1.958-3.122 3.542-4.098 5.854-1.561 3.696-1.762 8.204-2.341 12.878-.342.122-.19.038-.391.194-2.718-.655-3.672-3.452-4.683-5.853-2.554-6.07-3.029-15.842-.781-22.829.582-1.809 3.21-7.501 2.146-9.172-.508-1.666-2.184-2.63-3.121-3.903-1.161-1.574-2.319-3.646-3.124-5.464-2.09-4.731-3.066-10.044-5.267-14.828-1.053-2.287-2.832-4.602-4.293-6.634-1.617-2.253-3.429-3.912-4.683-6.635-.446-.968-1.051-2.518-.391-3.513.21-.671.508-.951 1.171-1.17 1.132-.873 4.284.29 5.462.779 3.129 1.3 5.741 2.538 8.392 4.294 1.271.844 2.559 2.475 4.097 2.927h1.756c2.747.631 5.824.195 8.391.975 4.536 1.378 8.601 3.523 12.292 5.854 11.246 7.102 20.442 17.21 26.732 29.269 1.012 1.942 1.45 3.794 2.341 5.854 1.798 4.153 4.063 8.426 5.852 12.488 1.786 4.052 3.526 8.141 6.05 11.513 1.327 1.772 6.451 2.723 8.781 3.708 1.632.689 4.307 1.409 5.854 2.34 2.953 1.782 5.815 3.903 8.586 5.855 1.383.975 5.64 3.116 5.852 4.879zM29.729 23.466c-1.431-.027-2.443.156-3.513.389v.195h.195c.683 1.402 1.888 2.306 2.731 3.513.65 1.367 1.301 2.732 1.952 4.097l.194-.193c1.209-.853 1.762-2.214 1.755-4.294-.484-.509-.555-1.147-.975-1.755-.556-.811-1.635-1.272-2.339-1.952z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">MySQL</h5>
                      </div>
                    </div>
                    <!-- start a new row  -->
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill="#5B4282" d="M75.701 65.603c-2.334-.768-5.694-.603-10.08-.603h-17.621v23h18.844c2.944 0 5.012-.315 6.203-.535 2.099-.376 3.854-1.104 5.264-1.982 1.409-.876 2.568-2.205 3.478-3.881.908-1.676 1.363-3.637 1.363-5.83 0-2.568-.658-4.54-1.975-6.436-1.316-1.896-3.141-2.965-5.476-3.733zM73.282 55.087c2.317-.688 4.064-1.89 5.239-3.487 1.176-1.598 1.763-3.631 1.763-6.044 0-2.286-.549-4.314-1.646-6.054s-2.662-2.413-4.699-3.056c-2.037-.641-5.53-.446-10.48-.446h-15.459v20h16.587c4.042 0 6.939-.38 8.695-.913zM126 18.625c0-9.182-7.443-16.625-16.625-16.625h-91.75c-9.182 0-16.625 7.443-16.625 16.625v91.75c0 9.182 7.443 16.625 16.625 16.625h91.75c9.182 0 16.625-7.443 16.625-16.625v-91.75zm-35.447 66.12c-1.362 2.773-3.047 4.911-5.052 6.415-2.006 1.504-4.521 2.78-7.544 3.548-3.022.769-6.728 1.292-11.113 1.292h-27.844v-69h27.42c5.264 0 9.485.609 12.665 2.002 3.181 1.395 5.671 3.497 7.474 6.395 1.801 2.898 2.702 5.907 2.702 9.071 0 2.945-.8 5.708-2.397 8.308-1.598 2.602-4.011 4.694-7.237 6.292 4.166 1.222 7.37 3.304 9.61 6.248 2.24 2.945 3.36 6.422 3.36 10.432 0 3.227-.681 6.225-2.044 8.997z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">Bootstrap</h5>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill="#F0DB4F" d="M90.18,50.5v.15l.31,0a1.18,1.18,0,0,1,.09-.43l0-.27c-.13,0-.26.21-.38.58Zm-2.94-7.08,0-.27-.44,0,0,.27.44,0Zm-8.54,16a14.07,14.07,0,0,0-2.35-3c0-.32.5-.79,1.59-1.42L81,52.34A7.79,7.79,0,0,0,82.28,48l0-.46c-.12-1.38-1.12-2.49-3-3.34q-1.68-1.13-6-1.25a35.58,35.58,0,0,0-9.41,2.58,38.64,38.64,0,0,1-3.63,2.29l0,.23a.87.87,0,0,0,.36-.16.21.21,0,0,1,.26.21L61,48h.11v.1a12.79,12.79,0,0,1-2.52,2l.13.24h-.11l-.28-.1c0,.08-.11.14-.34.16v.1l.27.34a1,1,0,0,1-.39-.09,1.88,1.88,0,0,0-1.16.63l.16-.69a56.27,56.27,0,0,0,1.16-6.5L58,44A4.73,4.73,0,0,1,56.91,43a3.71,3.71,0,0,0,0-.49l0-.1-.11,0q-1.85,2.77-7.11,9.45-4,4.75-4.14,5.28c-1.09,1.13-1.61,1.81-1.56,2-.29.19-.41.37-.36.58a.12.12,0,0,1-.16-.09,3.17,3.17,0,0,1-2.08,1.45l-1,.22a.23.23,0,0,0-.19.28l0,.12.36-.08,0,.1-.82.32-1.45.34-.76,0c-.11.11.61,0,.33.06l-1,.22c-.58.13-.89.08-1-.15l-.11,0a.54.54,0,0,1,0,.24l-.06-.23-.76.18Q35,62.29,32,59c0-.43.67-1.05,2.12-1.86l4.08-3.59q1.37-1.76,1.63-5.65l-.06-.61c-.16-1.83-1.48-3.3-4-4.44-1.47-1-4.12-1.53-7.94-1.61a47.82,47.82,0,0,0-12.39,3.36,47.39,47.39,0,0,1-4.78,3l0,.32a1.25,1.25,0,0,0,.48-.19.27.27,0,0,1,.34.26l.32-.18H12V48a18.64,18.64,0,0,1-3.34,2.6l.18.28H8.7l-.34-.12c0,.09-.15.16-.48.19l0,.17.37.41a1.36,1.36,0,0,1-.5-.1A3.17,3.17,0,0,0,5.63,53l.18.28a4.47,4.47,0,0,1,1.06-.85l0,.46a1.53,1.53,0,0,0-.48.19l.38.58a12.63,12.63,0,0,1,2.43-2c.44.11.67.25.68.4l.34,0a26,26,0,0,1,7.14-3.86l0,.32q-.66,1-.89,1a1,1,0,0,0,.23.59q.06.6-3.21,8.1Q6.17,75.5,1.13,83.84a1.08,1.08,0,0,0,.2.45,4.17,4.17,0,0,0,1.57-.6l.18,0,0,.32.31,0,.32-.18c0,.09.11.14.33.12l0,.32a2.83,2.83,0,0,1-.52,1.42A7.37,7.37,0,0,0,2.48,88v.15l.31,0a19.55,19.55,0,0,0,3.06-4.41,48.85,48.85,0,0,0,9-3.38,8.39,8.39,0,0,0,4.74-1.63l0-.17-.78.23-.18,0,0-.17a7.07,7.07,0,0,0,3.17-1q4.46-3.44,6.74-4.87,4.68-3.44,6.08-6.7l.52-.12a6.81,6.81,0,0,0,.75,0c0-.08,0-.13.1-.15.7-.07.36,0,.81-.06l1.17-.27.2,0-.09.06a1.14,1.14,0,0,0,.43,0l.08.34-5.34,8.49L32,75.71l-.58,1.94.11,0,.58-.24-.19.75.06.22.16.2c-.07,0-.1.07-.08.15l0,.12.24-.06q.53-.46.45-.84a2.21,2.21,0,0,0,.76.06l0,.12c-.23.06-.35.24-.37.56l0,.12.13,0c1.94-2.12,6.69-9.35,10.5-14.27q-.18-.8,6-2.22l.13,0q.22,1-1,4.67a12.58,12.58,0,0,0-.71,2.44,18.69,18.69,0,0,0-.92,3.22L45.9,77.34A43.46,43.46,0,0,0,43.74,85a1,1,0,0,1,.4,0l.21-.18a.12.12,0,0,0,.16.09l-.08-.34.63,0c.19,0,.34-.28.48-.71,0-.64.1-1,.39-1.06a10.29,10.29,0,0,1,.72-2.32,10.29,10.29,0,0,1,.81-2.6c.55-2,1-3,1.21-3.06l.06.24-.4,1a50.68,50.68,0,0,1-2.12,7.35l.21.89.13,0q2.6-5.59,7.48-22.14A2.89,2.89,0,0,1,55.4,60l-.19-.2,0-.1a1.27,1.27,0,0,0,.78-.44c0-.08-.34-.21-1-.37l1.62-7a2.41,2.41,0,0,1,.62-.48l0,.35a.87.87,0,0,0-.36.16l.31.44A10,10,0,0,1,59,50.83c.34.09.5.21.52.32l.24,0a19.75,19.75,0,0,1,5.43-2.91l0,.23q-.49.74-.67.75a1,1,0,0,0,.15.45,42.49,42.49,0,0,1-2.41,6.16,167.41,167.41,0,0,1-9.44,19.55.87.87,0,0,0,.17.34,3,3,0,0,0,1.18-.46h.11l0,.23.26,0,.23-.12q0,.1.25.08l0,.25a2.12,2.12,0,0,1-.4,1.06,5.31,5.31,0,0,0-.85,1.82v.12l.24,0a14.72,14.72,0,0,0,2.32-3.35,37.55,37.55,0,0,0,6.8-2.56,6.39,6.39,0,0,0,3.62-1.24v-.12l-.61.18h-.13v-.12a5.36,5.36,0,0,0,2.4-.77c2.25-1.73,4-3,5.12-3.7,3.6-2.62,5.27-5.13,5.07-7.55Zm-.62.16.08.94c-.11.23-.23.35-.34.36l-.14-1.6c.26.09.39.19.4.3ZM7.52,52H7.36l0-.29L8,51.66v.15a1.24,1.24,0,0,0-.47.19ZM4.38,83.4a2,2,0,0,0-1-.21l0-.46c0-.18.08-.3.31-.34s.33.13.34.43a6.78,6.78,0,0,1,.89-1l.34.14c-.11.93-.4,1.41-.86,1.44ZM37.93,48.3c-.16,0-.48-.48-.93-1.45l0-.29c.3,0,.61.46.93,1.45l0,.29Zm-.45-3.48-.13.31-4.56-1.9q4.56.15,4.69,1.59ZM18.25,61.35l-.64.06,0-.29.64-.06,0,.29Zm-.52-9.92h.16l0,.46c-.15,0-.34.23-.59.66l0-.32c.29-.34.44-.61.42-.79Zm-1.35,3.19.06.61h-.16l-.06-.61Zm-.71,1.14.31,0c0,.5-.17.77-.42.79h-.16a1.46,1.46,0,0,0,.27-.77Zm-.53,1.58.18,0v.15l-.29.48-.31,0v-.15a.4.4,0,0,0,.42-.49Zm-.52,1.43-.09.76h-.16l-.07-.75.32,0ZM9.38,73.62c-.21,1-.43,1.57-.66,1.59v-.15a1.67,1.67,0,0,1,.67-1.44Zm-1,2.08v.15a.27.27,0,0,1-.28.34V76q0-.27.28-.34ZM8.15,80l.48,0,0,.17a1.25,1.25,0,0,0-.48.19l-.31,0c0-.16.08-.28.28-.34Zm13.79-4.26a25.56,25.56,0,0,0-4.8,2.73Q12.72,80,12.76,80.39a48,48,0,0,0-5.17,2.27,1.86,1.86,0,0,1-.85-.22,1.37,1.37,0,0,1,.71-1.3,2.75,2.75,0,0,1,1.31.21,12.78,12.78,0,0,1,2.53-.83l0-.32-1,.08A13.17,13.17,0,0,1,13.1,79l.48,0v.15c-.83.07-1.29.32-1.39.75,0,.2.13.28.34.26.62-.39.93-.62.92-.69q1.77-.34,9.81-5.13l0,.29c0,.14-.45.53-1.37,1.2Zm-8.22,2.7a3.17,3.17,0,0,0,2-.93c.22,0,.34.07.35.26a7.17,7.17,0,0,0-2.19,1h-.16l0-.31ZM27,68.27l-4.11,3.26a40.68,40.68,0,0,1-4.94,3q-7.3,4-9.07,4.17l-.18,0q.22-.82,6.5-13.31a35.47,35.47,0,0,0,8.71-2.58l1-.08a5.59,5.59,0,0,1,4.49,1.15l.06.61c-.74,2.13-1.56,3.38-2.44,3.75Zm-8-4.52.66-.06v.15L19,63.9v-.15Zm9.29-1.57.48,0c.45.21.68.4.7.57v.15a1.36,1.36,0,0,1-1.19-.67Zm1.31-7.48A19,19,0,0,1,26,57.31c-.63.06-3,1-7.07,2.76A1.29,1.29,0,0,0,18.3,60l0-.29a3.81,3.81,0,0,1,.79-2.22c.32-1.68.66-2.64,1-2.87l3.4-7.65q-.06-.71,2.18-1.09l.48,0,0,.44c1.46-.22,2.38-.35,2.73-.38,2.7-.23,4.11.32,4.22,1.63l.31,0-.07-.77.34,0A2.12,2.12,0,0,1,35,48.25a2.48,2.48,0,0,1-.69,1.59c-.21,0-.33-.13-.34-.43l-.34,0-.07.93q-2.05,3.07-3,3.16c-.56.77-.9,1.16-1,1.16Zm2.09,5.36a1.2,1.2,0,0,0-.67-.26l0-.46.31,0,.68.4a.27.27,0,0,1-.28.34Zm2.16,2.56c.3.12.48.25.51.37l-.15,0h0l-.09,0-.22.18-.06-.62ZM34,63.9l0-.12.39-.09,0,.12L34,63.9ZM34.94,65c.4-.07.6-.09,1.34-.26l0,.12-1.42.33a1.87,1.87,0,0,0,0-.19Zm1.38.59a6.06,6.06,0,0,0-1.42.2l0-.12,1.19-.38.57-.13.06.22c-.26.06-.07.06-.37.21Zm1.26-.3a.26.26,0,0,1-.32-.19l.36-.08a.22.22,0,0,1,.3.19l-.34.08ZM41,61.57l0-.12.59-.14.06.22-.62,0Zm3.64,22.34a.92.92,0,0,0,0-.37l.13,0a.21.21,0,0,1,.29.17l0,.12-.48.11Zm2.55-21.38-.26,0a7.38,7.38,0,0,1-1.06.35l-.24.06a.24.24,0,0,1-.31-.17L47,62.34l.56-.26.19.21a1.25,1.25,0,0,0-.58.24Zm1.31-.42,0-.12a.71.71,0,0,0,.32-.21L50,61.51l0,.12a9.36,9.36,0,0,0-1.53.48Zm.19-2.45a1,1,0,0,0-.34.21c0-.08-.19-.08-.5,0-.06-.23.84-.56,2.69-1l.26-.06.06.22c-1.3.38-2,.6-2.17.62Zm3.26-3.52c-.13,1.48-.65,2.32-1.57,2.53l0-.12-.82.32-.36.08a.91.91,0,0,1-.5,0l-.07-.33a49.32,49.32,0,0,1,3.56-4.91l.28,0a5.09,5.09,0,0,1-.48,2.39Zm5.77-4.94H57.6l0-.23.48,0v.12a1.57,1.57,0,0,0-.36.15ZM55.34,75.06a1.49,1.49,0,0,0-.75-.17l0-.35q0-.18.22-.25c.16,0,.25.09.27.34a4.09,4.09,0,0,1,.67-.77L56,74c-.09.71-.31,1.08-.64,1.11ZM80.81,48.42c-.12,0-.35-.36-.72-1.12l0-.23c.23,0,.48.34.72,1.09l0,.26Zm-.34-2.66-.11.24-3.45-1.44c2.3.07,3.49.48,3.56,1.2ZM65.86,58.3l-.48,0,0-.23.48,0,0,.23Zm-.4-7.54h.13l0,.35q-.18,0-.45.5l0-.23a1.08,1.08,0,0,0,.31-.62Zm-1,2.42,0,.46h-.13l0-.46Zm-.55.87.24,0q0,.59-.31.61H63.7a1.26,1.26,0,0,0,.2-.61Zm-.39,1.19h.11v.12l-.21.37-.24,0v-.12c.25,0,.36-.15.34-.38Zm-.39,1.08-.08.6h-.11l0-.59.24,0Zm-4,11.3q-.24,1.17-.5,1.2v-.1a1.33,1.33,0,0,1,.51-1.1ZM58.4,69.2v.1a.21.21,0,0,1-.22.27v-.12q0-.18.22-.25Zm-.21,3.28.37,0v.12a1.07,1.07,0,0,0-.36.14l-.24,0q0-.2.22-.25Zm10.46-3.23A21.75,21.75,0,0,0,65,71.31c-2.24.78-3.34,1.27-3.33,1.46a35.33,35.33,0,0,0-3.9,1.72,1.45,1.45,0,0,1-.64-.18,1,1,0,0,1,.54-1,2.1,2.1,0,0,1,1,.15,10.83,10.83,0,0,1,1.93-.62l0-.23-.75.07a10,10,0,0,1,2.14-1l.37,0v.1c-.63.06-1,.24-1.06.58a.21.21,0,0,0,.26.21c.47-.31.69-.48.69-.54q1.34-.24,7.44-3.9l0,.23c0,.09-.34.39-1,.9Zm-6.24,2A2.5,2.5,0,0,0,64,70.6c.16,0,.25.06.26.21a5.92,5.92,0,0,0-1.66.71h-.13l0-.22Zm10.08-7.74-3.1,2.5a30.16,30.16,0,0,1-3.77,2.3q-5.53,3-6.89,3.16H58.6q.17-.63,4.95-10.1a27.26,27.26,0,0,0,6.61-2l.75-.07a4.2,4.2,0,0,1,3.4.89l0,.46c-.57,1.6-1.18,2.54-1.85,2.83ZM66.4,60.13l.48,0v.12l-.48,0v-.12Zm7.05-1.2.37,0c.34.17.52.32.53.44v.1a1,1,0,0,1-.91-.51Zm1-5.67a14.26,14.26,0,0,1-2.66,2,35.66,35.66,0,0,0-5.37,2.08,1.23,1.23,0,0,0-.49-.07l0-.23a2.92,2.92,0,0,1,.59-1.69c.24-1.29.51-2,.79-2.17l2.6-5.81c0-.34.52-.62,1.64-.84l.37,0,0,.35q1.65-.27,2.07-.31c2-.18,3.12.23,3.21,1.24l.24,0,0-.56.24,0a1.55,1.55,0,0,1,1,1.18,1.93,1.93,0,0,1-.49,1.22c-.16,0-.25-.09-.27-.34l-.24,0-.07.7c-1,1.57-1.79,2.39-2.26,2.42-.42.57-.68.86-.8.87Zm1.09,3.88,0-.35.24,0,.52.32a.22.22,0,0,1-.22.25,1,1,0,0,0-.51-.2ZM32.15,79.76l-.24.06L31.7,80a.21.21,0,0,0,.29.17c.16,0,.22-.13.19-.28l0-.12Zm-.92-1.84,0,.12c.16,0,.22-.13.19-.28l0-.12a.22.22,0,0,0-.19.28Zm6.6-12.39.18-.11-.09,0a.11.11,0,0,0-.08.13Zm0-3.21.28-.07L38,62l-.28.07.06.24Zm65.85,9.41-.63-.07-.11.24V72l3.77-.32,0-.23-3,.26Zm3.45-.29,0,.23h0l0-.23Zm15.83-2.07,0,.23.41.07,0-.23-.41-.07Zm-.58,0a15.72,15.72,0,0,1-3.78.57l0,.23.26,0H119l0,0,.31-.12c2.8-.31,3.13-.2,3.1-.51v-.11Zm-17-4.12-.25-.08a4.2,4.2,0,0,0-.3,1v.1c.2,0,.37-.34.54-1Zm-3.41-1.84v-.12h-.13l-.23.15.13.22c.18,0,.26-.1.24-.26Zm7.41,7.66,0-.23h-.07l0,.23Zm15.37-3.47.18,0c.1,0,.15-.09.14-.24l-.1-.22a3,3,0,0,0-1.46.37v-.12l-.77.07c0-.23-.08-.35-.19-.34l-.4,0c-.47,0-.69,0-.92.2,0-.08,0-.12-.08-.12l-.45,0-.26.15c0-.08,0-.12-.08-.12l-.16.14v-.12l-.62,0h-.15l0,.23.32.08.3,0a.54.54,0,0,0,.34.07l.26-.13v.1a19.08,19.08,0,0,1-2.46.47.43.43,0,0,0-.25-.1l0,0a.2.2,0,0,1-.19-.21l.52-.07a3.19,3.19,0,0,0,.35.09c.42-.21.44-.29.66-.31l0-.23a15.19,15.19,0,0,1-2.66.25h-.08l0-.23c2.31-.28,1.54-.12,2.33-.34,0,.08,0,.12.08.12a.54.54,0,0,1,.32-.16h.16A8.46,8.46,0,0,0,122,66.6v.1l.26-.13.24,0c0-.23.34-.27.46-.28l0-.25c-2.81.57-3.55.41-4.33.63v-.1a3.41,3.41,0,0,1-1,.08.49.49,0,0,0-.23.15c0-.08,0-.12-.09-.12h0l-2.39.39c0-.07,0-.1-.09-.09a12.17,12.17,0,0,1-2.56.46.78.78,0,0,0-.31.13c0-.07,0-.1-.13-.09l-1,.08-.68.17c0-.07,0-.1-.13-.09a5.41,5.41,0,0,1-1,.19h0c-.17,0,.08,0,0-.1l-.21.12c-.3,0-.14,0-1.16,0-1.8.22-1.6.25-1.8.26l-.67,0a.09.09,0,0,1-.1.11c-.76-.1-1.16-.22-1.16-.36q.15-1.09.53-1.12h.13l-.11.24h.13c.24-.13.35-.25.34-.36l0-.25-.24,0,0-.23a.84.84,0,0,1,.07-.47l.55-.89,0,.23.26,0,0-.23-.15-.21a1,1,0,0,1,.47-.27v-.12l-.35,0,0-.35a10,10,0,0,0,1-2.57l.25.1c.16,0,.23-.1.22-.27l-.24,0v-.1a.89.89,0,0,1,.09-.49,1.56,1.56,0,0,0,.52-1.22c.07,0,.11,0,.12.11.33-.19.58-.68.76-1.5a46.87,46.87,0,0,0,2.47-6.25c2.05-5.52,2-6.1,2.25-7.41l-.24,0a.84.84,0,0,1-.09.48,1,1,0,0,0-.39-.09v-.1a2.83,2.83,0,0,1,.61-1.71h.11l.21.8.24,0a7.3,7.3,0,0,1,.19-1c0-.12-.1-.2-.29-.21l-.23.15c0-.17,0-.61,0-1.3h-.12a.91.91,0,0,1-.32-.51l-1.33.13a1.22,1.22,0,0,0-.15-.41c0-.12.29-.24.9-.36l.27.1.25-.15c0,.08.06.12.15.11l.25-.15c0,.08.06.12.15.11h.12l0-.27c-.19,0-.68,0-1.46,0l-.25.17v-.15q-9.38.77-10.65.89c-.11,0-.55,0-1.32,0,0,.1-.08.16-.27.18l-.27-.12L98,41a6.06,6.06,0,0,1-1.08,0,.93.93,0,0,1-.51.2L99.06,41a1.22,1.22,0,0,1-.65.21.9.9,0,0,1-.53-.09,15.15,15.15,0,0,1-2,.47l-.27-.1-4.36.67a1.09,1.09,0,0,0-.59-.09,7.24,7.24,0,0,0-1.16.25l-2.11.88.16.26a1.17,1.17,0,0,0,.43-.17l.75.07-.09.7a1.88,1.88,0,0,0-1.2,1.34c-1,.46-1.55.78-1.55,1v.12h.16l.28-.15.33.39,0,.54q0,.25-5.21,11c-3,6.9-4.6,10.67-4.75,11.35-1,.29-1.63.71-1.81,1.27,0,.18.33.3.92.34l0,.27-.27.45,0,.54q0,.42,2.26.64c0-.09,0-.15.14-.16a8.16,8.16,0,0,1-.28,2H78a3.47,3.47,0,0,0,.88-1.73H79c.15,0,.31.16.49.52q-.28.11-2,4.45l.16.26h.16q2.05-5.2,2.58-5.75,2.7-.24,9.33-1l.28-.17a.13.13,0,0,0,.17.13l.29,0,.28-.17a.13.13,0,0,0,.17.13l3.35-.29c.89-.07,1.3-.34,1.27-.8,0-.12.51-.26,1.57-.41a1.28,1.28,0,0,1,.46.08c0-.08.52-.17,1.58-.26,0-.56.2-.86.52-.89l0-.27a4.63,4.63,0,0,0-1,.23,6.26,6.26,0,0,1-1.33-.16,1.23,1.23,0,0,1-.43.17L94.51,69l-.28.15q0-.13-.17-.11h-.13l-.3.15c0-.08-.25-.15-.74-.21l-.3.18-.58,0v-.15q4.5-.49,4.44-1.22a.26.26,0,0,1,.32.27l.88-.22,0-.27-7.18.2c0,.09,0,.15-.14.16l-.88-.07a1.06,1.06,0,0,0-.56.2L88.54,68a10,10,0,0,0-2,.33,12.73,12.73,0,0,0-2,0l-1.61.14-.75-.08c0-.48.89-2.81,2.79-7a6.11,6.11,0,0,1,1.54-2.64,1.08,1.08,0,0,1,.46.11L88,58.47l.59.09a13.45,13.45,0,0,0,3.45-.85,1.62,1.62,0,0,1,.75.07l.88-.21,2.61-.22a17.3,17.3,0,0,0,3.62-.74l0-.27c-.48,0-.74,0-.75-.23,0-.36-.38-.51-1.06-.46l0-.27.72-.21,1.88-.16,0-.27c-.07,0-.46,0-1.16,0l0-.29.73-.07c.2,0,.28-.11.26-.3-1,0-1.47,0-1.48-.15q-10.23.5-10.26.19a1.17,1.17,0,0,0-.43.19L88.06,54q2.71-5.76,3.18-5.8a1.69,1.69,0,0,1-.22.72V49l.29,0c.72-1.71,1.32-2.6,1.83-2.64,2.14-.19-.3-.33,4.29-1a.89.89,0,0,0,.41.11q2.7-.55,7.52-1.14l0-.27-1.71.16,0-.27a.93.93,0,0,0,.51-.2v.15a1,1,0,0,0,.39-.19,1.23,1.23,0,0,1,.68.08,9.92,9.92,0,0,1,1.44-.29l1.07-.1c.26-.17.38-.32.37-.46v-.12a3.38,3.38,0,0,1-.94-.06.27.27,0,0,1,.24-.3l2-.19.91-.23c0,.1.06.14.13.14a1,1,0,0,0,.39-.19l.15,0a7.45,7.45,0,0,0-.4,1.09l-.26,0a1.14,1.14,0,0,0-.15-.48H110c-2.42,6.75-3.5,9.89-5.74,15.07-.41,1.32-.75,2.06-1.05,2.22a.21.21,0,0,0,.26.21,3.25,3.25,0,0,1-.46,1.93c-1,3-1.72,4.61-2.08,4.91l.23,1.41a.22.22,0,0,1-.22.25l-.24,0c0-.39-.18-.58-.43-.55h-.13a5.54,5.54,0,0,0-.72,1.72l.24,0a.81.81,0,0,0,.45-.75l.48,0,.28.1a1.49,1.49,0,0,0-.31.85l.13.22-.32.75v.12a1.51,1.51,0,0,1,.91.26A1.63,1.63,0,0,0,102,71c.28,0,1.32,0,3.12,0l.9-.31a20.9,20.9,0,0,0,2.23-.07l.39,0,.21-.14v.12a6.11,6.11,0,0,1,1.84.07v.12l-.55,0,0,.23a.79.79,0,0,0,.44-.17c.14,0,.22.07.23.23a3.28,3.28,0,0,0-.75.17l-.24-.08c-.38.1-.3.13-.56.15l-.38-.07a.09.09,0,0,1-.09.11.2.2,0,0,0,.23.21l.39,0,2-.18.77-.17c0,.07,0,.1.1.09l.37-.14.7-.06c.54,0,.53-.08,1.71-.27,0-.07,0-.1.07-.11v.1a17.2,17.2,0,0,0,2.34-.45l0,.06c.48-.11.21-.08.34-.18,0,.08,0,.12.08.12l.34,0,0-.25h-.68v0l-.07,0h-.09v0a3.59,3.59,0,0,1-.76.06l-1.71.09v-.12l1-.13.34,0,.2-.14V70c1.34-.11,1.82.22,8-1.1.34,0,.31-.31.52-.89a.58.58,0,0,1-.33-.07,9.7,9.7,0,0,1-1.77.26c-.08,0-.15-.07-.18-.21v-.1l1,0a2.4,2.4,0,0,0,1-.34c0,.08-.2.13-.08.12Zm-45.88.74-.44,0a8.26,8.26,0,0,1,.7-2l.29,0a7.62,7.62,0,0,1-.55,2Zm.53-2.12v-.12c0-.15.08-.25.29-.3V66c0,.18-.08.28-.29.3Zm5.82,4.5v.12l-.73.07v-.12l.73-.07Zm-.88-.07c0,.15-.21.32-.7.48l-.89-.07-.29,0,0-.27,1.91-.18Zm5.89-27.11-.44,0v-.15c0-.15.07-.25.26-.3h.16l.3.12a.26.26,0,0,1-.27.3Zm6.66-1.3H97l0,.27-.4,0a.27.27,0,0,1,.24-.3Zm-1.68.59-.66-.07v-.12a7.15,7.15,0,0,0,1.69-.32c0,.1.1.14.27.12l0,.27-.26,0a.9.9,0,0,1-.53-.09,1.14,1.14,0,0,1-.51.19ZM96,45.29v-.12l1.07-.1v.12l-1.07.1Zm1.15-.93V44.2l.52,0v.15l-.52,0Zm.12-1.83h-.14l.12-.29,1.19-.11v.15a7.2,7.2,0,0,0-1.18.24Zm.61,2.57,0-.27.52,0q.27,0,.28.25l-.78.07Zm3.16-4.3-.67.19h-.12A6.85,6.85,0,0,1,99,41c.87-.06,1.7-.12,2-.17Zm-.72,3v.12L99.4,44v-.12l.92-.08Zm1.51.72c0-.11-.19-.19-.55-.22l-.92.26-.71,0c-.16-.11-.24-.19-.25-.24l.82,0,1.84-.3.94,0v.15a5.28,5.28,0,0,0-1.18.24ZM111.32,42h.21a3.57,3.57,0,0,1,1.11-.75,6.55,6.55,0,0,1-1.57,3.27l-.52-.32a17,17,0,0,0,.77-2.22Zm-1.6,2.75h.13c-.18.34-.34.51-.47.52l0-.35a.79.79,0,0,0,.36-.16Zm-1,2.47a3.5,3.5,0,0,1,.72-1.72v.12c-.13.93-.34,1.43-.61,1.46l0,.59a1.32,1.32,0,0,0-.32.75h-.13l-.07-.81c.15,0,.27-.15.35-.39Zm-.4,1.34a3.41,3.41,0,0,1-.27,1h-.13l0-.35c.18-.41.33-.62.43-.62Zm-7.52,21.82v-.1l.24,0,0,.35c-.13,0-.22-.07-.26-.23Zm10.74.28c0-.08,0-.12-.13-.11l-.61.06v-.12h.06l1.43-.12v.12a1.26,1.26,0,0,0-.75.18Zm-.72-.3c.06,0,0,.06,0,.07s-.07,0,0-.07Zm.07-1.68-.8.07v-.12l.73-.07.63-.16c0,.07,0,.1.13.09.75-.13.68-.17,1-.2.12,0,.2.07.21.21l-1.93.17Zm2.8-.24a3.19,3.19,0,0,0-.79-.06v-.1l.72-.07v.1c-.07,0,.2,0,.07.12Zm.06-.13v-.1l.39,0v.1l-.39,0Zm.87-.07v-.1a.68.68,0,0,0,.28-.15.28.28,0,0,1,.32.26Zm1.11-.14V68l.48,0v.12l-.48,0Zm.66-.06c0-.14,0-.22.17-.24l.16.21a.09.09,0,0,1,.07-.11l.12.22-.52-.07ZM125.53,67h0v0Zm.17-.12c.07,0,.11-.09-.07-.12s.09.12-.09.13V67l.1-.07-.1.08h0l-.2.25.39-.14h0l0-.23Zm.68.53h-.07l0,.23.55,0c0-.15-.37-.2-.49-.2Z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">Babel</h5>
                      </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#80B5E2" d="M126.216.727c-36.223-.011-72.284-.01-108.508-.01-5.181 0-10.451-.004-15.632.011-.328.001-1.076.153-1.076.236v126.036h126v-126.036c0-.083-.414-.237-.784-.237zm-12.736 113.939c-32.641-.038-65.271-.03-97.912-.03-1.576 0-1.569-.003-1.569-1.627v-97.797c.001-1.607-.015-1.212 1.578-1.212h97.798c1.638 0 1.625-.396 1.625 1.291v48.837c0 16.32-.007 32.64.036 48.959.004 1.243-.289 1.58-1.556 1.579zM56.82 39.644c-6.668-1.563-13.38-.792-20.085-.107-1.423.146-1.695.755-1.691 2.018.043 15.207-.044 30.414-.044 45.621v.824h9v-17.861c5 .375 9.576.286 14.049-1.31 7.169-2.558 10.752-8.111 10.365-16.219-.313-6.548-4.426-11.286-11.594-12.966zm-1.953 22.344c-3.194 1.557-6.59 1.52-10.005 1.058-.266-.036-.675-.511-.677-.784-.04-5.331-.03-10.661-.03-16.138 3.131-.488 6.1-.726 9.062.018 3.673.923 5.804 3.319 6.201 6.917.436 3.954-1.247 7.319-4.551 8.929zM88.168 69.094c-1.469-.805-3.08-1.347-4.606-2.053-1.41-.653-2.833-1.296-4.174-2.076-.935-.543-1.36-1.492-1.36-2.611 0-1.892 1.294-3.417 3.504-3.598 1.649-.135 3.361.035 4.994.34 1.376.256 2.681.899 4.082 1.395l1.767-6.269c-3.345-1.624-6.749-2.235-10.285-2.11-3.006.105-5.814.871-8.352 2.599-4.743 3.229-7.057 11.807.051 16.416 1.805 1.171 3.893 1.905 5.851 2.841 1.218.583 2.489 1.079 3.641 1.772 1.452.874 1.946 2.297 1.694 3.94-.247 1.615-1.33 2.638-2.836 2.874-1.68.264-3.466.435-5.118.144-2.339-.411-4.599-1.281-6.974-1.979-.426 1.59-.831 3.349-1.384 5.06-.303.938-.125 1.401.795 1.768 5.617 2.231 11.334 2.69 17.082.717 4.296-1.475 6.915-4.524 7.256-9.169.332-4.527-1.708-7.851-5.628-10.001z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">Photoshop</h5>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="box">
                        <div class="fa-stack fa-3x">
                          <svg viewBox="0 0 128 128">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAA625" d="M47.955 69h15.371c-2.646-9-5.252-17.32-7.816-25.776-2.488 8.486-5.012 16.776-7.555 25.776zM124.112 1h-121.239c-2.186 0-1.873.476-1.873 2.585v121.394c0 2.107-.313 2.021 1.719 2.021h121.547c2.031 0 2.734.086 2.734-2.022v-121.239c0-2.263-.702-2.739-2.888-2.739zm-46.814 95c-1.637 0-3.28-.133-4.909-.016-1.175.088-1.568-.406-1.881-1.426-1.514-4.931-3.123-9.86-4.638-14.79-.305-.992-.741-1.354-1.816-1.341-5.523.064-11.049.058-16.573-.007-1.163-.014-1.698.296-2.03 1.45-1.406 4.904-2.944 9.768-4.365 14.667-.308 1.062-.776 1.433-1.904 1.404-3.318-.083-6.641-.032-10.274-.032.959-3.045 1.829-5.861 2.729-8.665 5.514-17.2 11.047-34.4 16.521-51.611.382-1.198.913-1.567 2.143-1.54 3.886.086 7.775.022 11.663 0 .727-.005 1.223.038 1.489.864 6.505 20.116 13.033 40.356 19.555 60.47.028.091.01.573.025.573h-5.735zm20.702 0h-12v-45h12v45zm-6.35-51.071c-3.665-.005-6.289-2.528-6.314-6.07-.024-3.532 2.707-6.159 6.406-6.163 3.728-.004 6.355 2.537 6.384 6.171.026 3.545-2.667 6.068-6.476 6.062z"></path>
                          </svg>
                        </div>
                        <h5 class="heading">Illustrator</h5>
                      </div>
                    </div>
                    <div class="col-sm-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- page 4 - class section-white adds white background-->
      <section id="page4" class="section-white">
        <div class="content">
          <div class="container clearfix">
            <div class="row services">
              <div class="col-md-12">
                <h2 class="heading">Dev Tools</h2>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#4285F4" d="M44.59,4.21a63.28,63.28,0,0,0,4.33,120.9,67.6,67.6,0,0,0,32.36.35A57.13,57.13,0,0,0,107.18,112a57.44,57.44,0,0,0,16-26.26,74.33,74.33,0,0,0,1.61-33.58H65.27c0,8.23,0,16.46,0,24.69H99.74A29.72,29.72,0,0,1,87.08,96.37a36.16,36.16,0,0,1-13.93,5.5,41.29,41.29,0,0,1-15.1,0A37.16,37.16,0,0,1,44,95.74a39.3,39.3,0,0,1-14.5-19.42,38.31,38.31,0,0,1,0-24.63,39.25,39.25,0,0,1,9.18-14.91A37.17,37.17,0,0,1,76.13,27a34.28,34.28,0,0,1,13.64,8q5.83-5.8,11.64-11.63c2-2.09,4.18-4.08,6.15-6.22A61.22,61.22,0,0,0,87.2,4.59,64,64,0,0,0,44.59,4.21Z"></path>
                          <path fill="#EA4335" d="M44.59,4.21a64,64,0,0,1,42.61.37A61.22,61.22,0,0,1,107.55,17.2c-2,2.14-4.11,4.14-6.15,6.22Q95.58,29.23,89.77,35a34.28,34.28,0,0,0-13.64-8,37.17,37.17,0,0,0-37.46,9.74,39.25,39.25,0,0,0-9.18,14.91L8.76,35.6A63.53,63.53,0,0,1,44.59,4.21Z"></path>
                          <path fill="#FBBC05" d="M3.26,51.5a62.93,62.93,0,0,1,5.5-15.9L29.49,51.69a38.31,38.31,0,0,0,0,24.63q-10.36,8-20.73,16.08A63.33,63.33,0,0,1,3.26,51.5Z"></path>
                          <path fill="#4285F4" d="M65.27,52.15h59.52a74.33,74.33,0,0,1-1.61,33.58,57.44,57.44,0,0,1-16,26.26c-6.69-5.22-13.41-10.4-20.1-15.62A29.72,29.72,0,0,0,99.74,76.83H65.27C65.26,68.61,65.27,60.38,65.27,52.15Z"></path>
                          <path fill="#34A853" d="M8.75,92.4q10.37-8,20.73-16.08A39.3,39.3,0,0,0,44,95.74a37.16,37.16,0,0,0,14.08,6.08,41.29,41.29,0,0,0,15.1,0,36.16,36.16,0,0,0,13.93-5.5c6.69,5.22,13.41,10.4,20.1,15.62a57.13,57.13,0,0,1-25.9,13.47,67.6,67.6,0,0,1-32.36-.35,63,63,0,0,1-23-11.59A63.73,63.73,0,0,1,8.75,92.4Z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Google</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#CE4E4E" d="M64 37h54.186c-9.944-20-30.64-33.633-54.562-33.633-19.367 0-36.619 9.173-47.764 23.271l21.123 35.748c1.032-13.906 11.017-25.316 27.017-25.386zM120.126 41h-41.832c7.403 6 12.299 13.884 12.299 23.369 0 4.663-1.183 8.631-3.268 13.631h.015l-27.757 47.511c1.335.087 2.682-.022 4.04-.022 33.609 0 60.855-27.746 60.855-61.355.001-8-1.546-15.134-4.352-23.134zM63.624 91.445c-11.672 0-21.611-7.414-25.368-17.789l-25.186-43.071c-6.505 9.686-10.303 21.345-10.303 33.889 0 30.632 22.634 55.972 52.089 60.224l20.996-36.179c-3.671 1.871-7.827 2.926-12.228 2.926z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Chrome Devtools</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#68217A" d="M95 2.3l30.5 12.3v98.7L94.8 125.7 45.8 77l-31 24.1L2.5 94.9V33.1l12.3-5.9 31 24.3ZM14.8 45.7V83.2l18.5-19Zm48.1 18.5L94.8 89.3V39Z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">VSCode</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#6762A6" d="M102.1 2h-76.2c-6.6 0-11.9 5.3-11.9 11.9v100.3c0 6.6 5.3 11.9 11.9 11.9h76.3c6.6 0 11.9-5.3 11.9-11.9v-100.3c-.1-6.6-5.4-11.9-12-11.9zm-65.1 106.7v-28.2l14.1 14.1-14.1 14.1zm53 .3h-13.1l.1-.2v-49.4s3.1-11.8-39.7 4.8c-.1.2-.2-45.7-.2-45.7l13.9-.1v29.4s39-15.4 39 11.7v49.5zm-5.2-73h-14.8c5.3-6 10.2-17 10.2-17h15.3s-2.6 7-10.7 17z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Heroku</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"></path>
                          <path d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm-.743-.55M28.93 94.535c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zm-.575-.618M31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm0 0M34.573 101.373c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm0 0M39.073 103.324c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm0 0M44.016 103.685c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm0 0M48.614 102.903c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"></path>
                        </svg>
                      </div>
                      <h5 class="heading">github</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#F34F29" d="M124.742 58.378l-55.117-55.114c-3.172-3.174-8.32-3.174-11.497 0l-11.443 11.446 14.518 14.518c3.375-1.139 7.243-.375 9.932 2.314 2.703 2.706 3.462 6.607 2.293 9.993l13.992 13.994c3.385-1.167 7.292-.413 9.994 2.295 3.78 3.777 3.78 9.9 0 13.679-3.78 3.78-9.901 3.78-13.683 0-2.842-2.844-3.545-7.019-2.105-10.521l-13.048-13.049-.002 34.341c.922.455 1.791 1.063 2.559 1.828 3.779 3.777 3.779 9.898 0 13.683-3.779 3.777-9.904 3.777-13.679 0-3.778-3.784-4.088-9.905-.311-13.683.934-.933 1.855-1.638 2.855-2.11v-34.659c-1-.472-1.92-1.172-2.856-2.111-2.861-2.86-3.396-7.06-1.928-10.576l-14.233-14.313-37.754 37.79c-3.175 3.177-3.155 8.325.02 11.5l55.126 55.114c3.173 3.174 8.325 3.174 11.503 0l54.86-54.858c3.175-3.176 3.178-8.327.004-11.501z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Git</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#205081" d="M64 .73C29.114.73.73 29.113.73 64S29.114 127.27 64 127.27c34.888 0 63.27-28.384 63.27-63.27S98.887.73 64 .73zM67.335 120.9v-10.988l27.44-13.9a1.955 1.955 0 0 0 1.073-1.747v-6.29a5.98 5.98 0 0 0 3.99-6.258 5.978 5.978 0 1 0-11.892 1.225 5.97 5.97 0 0 0 3.99 5.03v5.09l-24.6 12.46v-10.22l10.843-5.017a1.957 1.957 0 0 0 1.135-1.773l.02-17.026 20.07-11.276c.617-.346 1-1 1-1.706V53.76a5.974 5.974 0 0 0-2.57-11.59 5.975 5.975 0 0 0-1.344 11.59v3.606L76.42 68.636c-.617.35-1 1-1 1.706l-.02 16.92-8.068 3.73V54.2l16.884-8.257a1.95 1.95 0 0 0 1.097-1.755v-6.29a5.978 5.978 0 0 0 3.99-6.26 5.976 5.976 0 0 0-6.56-5.33 5.975 5.975 0 0 0-5.332 6.56 5.964 5.964 0 0 0 3.99 5.027v5.07l-14.068 6.877V28.598a5.977 5.977 0 1 0-7.902-5.03 5.97 5.97 0 0 0 3.988 5.028V63.24l-9.943-5.224V42.28a1.95 1.95 0 0 0-.767-1.552l-6.802-5.21a5.978 5.978 0 1 0-2.61 2.928l6.265 4.802V59.2c0 .728.404 1.395 1.048 1.733l12.81 6.73v12.724l-21.37-9.884.292-7.742a1.956 1.956 0 0 0-1.063-1.815l-9.797-5.025c.147-.63.2-1.292.13-1.97a5.978 5.978 0 0 0-11.892 1.227 5.977 5.977 0 0 0 6.56 5.33 5.91 5.91 0 0 0 3.1-1.268l9.004 4.616-.295 7.8c-.03.79.417 1.52 1.133 1.85L63.42 84.7v9.084a1.98 1.98 0 0 0 0 .516v26.693a57.53 57.53 0 0 1-6.093-.387V97.66c0-.766-.445-1.46-1.14-1.778l-15.182-6.987a5.974 5.974 0 0 0-6.563-6.527 5.976 5.976 0 1 0 4.924 10.08l14.047 6.463v21.092C27.022 115.028 6.992 91.815 6.992 64c0-31.434 25.574-57.01 57.01-57.01 31.433 0 57.006 25.576 57.006 57.01 0 30.315-23.787 55.17-53.674 56.902z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Sourcetree</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#23719F" d="M127 16.142c0-8.363-6.779-15.142-15.142-15.142h-95.716c-8.363 0-15.142 6.779-15.142 15.142v95.715c0 8.364 6.779 15.143 15.142 15.143h95.716c8.363 0 15.142-6.779 15.142-15.143v-95.715zm-69 83.398c0 3.807-3.286 6.46-7.093 6.46h-27.344c-3.807 0-6.563-2.653-6.563-6.46v-76.31c0-3.808 2.756-7.23 6.563-7.23h27.344c3.807 0 7.093 3.422 7.093 7.23v76.31zm55-66.456v31.886000000000003c0 3.807-2.936 7.03-6.744 7.03h-27.33c-3.808 0-6.926-3.224-6.926-7.03v-42.104c0-3.808 3.118-6.866 6.926-6.866h27.33c3.808 0 6.744 3.058 6.744 6.866v10.218z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">trello</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill-rule="evenodd" clip-rule="evenodd" fill="#67595D" d="M38.622 66.979c-.806 1.674-1.508 3.089-2.175 4.522-3.338 7.177-6.103 14.553-7.53 22.367-.794 4.346-1.228 8.724-.093 13.087.975 3.749 3.004 5.674 6.475 5.833 1.519.071 3.108-.251 4.587-.668 3.916-1.109 7.323-3.251 10.618-5.571.8-.564 1.618-.916 2.616-.545 1.768.658 2.408 3.002.917 4.115-5.381 4.009-11.076 7.466-18.049 7.68-5.711.176-9.845-2.887-11.667-8.331-1.36-4.062-1.44-8.24-.941-12.432 1.482-12.478 6.298-23.815 12.081-34.805.497-.944.527-1.694.175-2.703-1.444-4.147-2.787-8.33-4.106-12.519-.25-.794-.506-1.02-1.368-.831-5.666 1.246-11.248 2.767-16.274 5.744-1.941 1.15-3.803 2.578-5.355 4.208-2.581 2.71-2.63 5.709-.521 8.803 1.84 2.701 4.433 4.548 7.169 6.217.856.524 1.759.97 2.621 1.484 1.253.749 1.682 2.201 1.039 3.409-.645 1.209-2.092 1.688-3.406 1.012-3.844-1.976-7.429-4.321-10.304-7.611-1.762-2.016-3.053-4.282-3.48-6.968-.532-3.35.428-6.302 2.44-8.954 2.075-2.733 4.8-4.683 7.775-6.303 5.276-2.873 10.961-4.589 16.801-5.854.4-.087.796-.195 1.338-.33-.275-1.558-.57-3.07-.806-4.593-.957-6.194-1.398-12.393.123-18.567.602-2.442 1.547-4.75 3.191-6.695 3.356-3.967 7.672-4.85 12.512-3.668 4.784 1.169 8.801 3.818 12.547 6.901 1.06.872 1.089 2.447.224 3.462-.883 1.035-2.256 1.17-3.458.351-1.888-1.285-3.724-2.658-5.686-3.819-2.248-1.329-4.662-2.272-7.352-2.285-2.222-.011-3.949.893-5.215 2.693-1.604 2.283-2.177 4.917-2.48 7.618-.641 5.713.12 11.329 1.233 16.918.119.594.347.804.972.741 4.51-.45 9.021-.899 13.538-1.276.982-.081 1.623-.436 2.232-1.206 5.87-7.415 12.305-14.281 19.875-20.01 4.217-3.191 8.673-5.973 13.8-7.492 3.212-.951 6.463-1.303 9.698-.166 4.04 1.42 6.298 4.49 7.462 8.452 1.234 4.206 1.041 8.494.54 12.781-.129 1.098-.321 2.191-.528 3.277-.281 1.478-1.377 2.261-2.853 2.089-1.342-.156-2.218-1.235-2.077-2.733.195-2.066.666-4.121.687-6.183.025-2.44-.027-4.943-.535-7.313-1.059-4.928-4.468-6.861-9.511-5.749-3.783.833-7.138 2.613-10.332 4.718-6.561 4.324-12.162 9.731-17.362 15.577-.967 1.087-1.897 2.208-2.837 3.318-.057.066-.053.184-.125.465h1.361c13.391.135 26.585 1.727 39.479 5.438 6.14 1.768 12.067 4.072 17.521 7.465 2.902 1.805 5.566 3.894 7.673 6.62 4.297 5.56 3.936 11.802-1.007 16.781-3.338 3.363-7.449 5.487-11.828 7.137-1.239.465-2.603-.218-3.077-1.405-.521-1.304.044-2.653 1.37-3.296 2.022-.98 4.125-1.829 6.037-2.993 1.578-.962 3.082-2.154 4.347-3.499 2.677-2.849 2.776-5.963.506-9.151-1.7-2.388-3.984-4.134-6.44-5.66-6.06-3.766-12.71-6.099-19.557-7.92-7.138-1.899-14.39-3.224-21.755-3.748-5.869-.417-11.759-.537-17.639-.816-.849-.041-1.429.21-1.901.938-3.447 5.316-6.933 10.607-10.362 15.935-.25.388-.356 1.086-.185 1.497 5.805 13.814 13.157 26.708 22.9 38.155 4.102 4.817 8.563 9.272 13.98 12.643 2.542 1.581 5.195 2.9 8.272 3.105 2.788.188 4.822-.979 6.206-3.345 1.304-2.229 1.827-4.695 2.061-7.229.756-8.177-.861-16.064-3.005-23.87-2.196-7.996-5.304-15.654-8.865-23.136-.287-.602-.522-1.317-.491-1.965.057-1.179.987-2.018 2.15-2.2 1.022-.16 2.098.402 2.609 1.498 1.274 2.728 2.567 5.451 3.734 8.226 3.602 8.571 6.502 17.365 8.034 26.563 1.069 6.42 1.58 12.863.096 19.294-.333 1.438-.824 2.867-1.439 4.21-2.527 5.524-7.651 8.02-13.588 6.722-4.827-1.057-8.901-3.579-12.702-6.592-6.991-5.541-12.663-12.297-17.793-19.535-5.848-8.245-10.787-17.013-14.925-26.234-.155-.343-.333-.676-.637-1.295zm-2.528-21.95l3.196 10.164c2.525-3.854 4.879-7.446 7.411-11.313l-10.607 1.149zM64.468 71.267c-4.017-.005-7.286-3.261-7.278-7.249.007-4.052 3.272-7.281 7.356-7.28 4.014.002 7.276 3.255 7.279 7.255.002 4.047-3.267 7.279-7.357 7.274z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Atom</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#F7A80D" d="M38.089 77.466l-11.4 4.896 10.559 4.514 12.241-4.514-11.4-4.896zm-17.138 6.12l-.382 22.034 16.679 7.345v-22.876l-16.297-6.503zm34.276 0l-15.073 5.739v21.575l15.073-6.121v-21.193zM73.206 15.035l-11.476 4.896 10.635 4.515 12.241-4.515-11.4-4.896zm-15.914 6.503v22.034l14.231 4.132.459-20.046-14.69-6.12zm31.828 1.224l-13.466 5.738v21.652l13.466-6.121v-21.269zM19.306 46.047l-11.399 4.897 10.558 4.514 12.241-4.514-11.4-4.897zm-17.138 6.121l-.382 22.034 16.679 7.345v-22.876l-16.297-6.503zm34.275 0l-15.071 5.738v21.574l15.071-6.12v-21.192zM56.03 45.231l-11.4 4.897 10.558 4.514 12.241-4.514-11.399-4.897zm-17.137 6.121l-.383 22.035 16.679 7.345v-22.877l-16.296-6.503zm34.275 0l-15.072 5.738v21.576l15.072-6.121v-21.193zM109.076 15.035l-11.399 4.896 10.559 4.515 12.241-4.515-11.401-4.896zm-17.137 6.121l-.382 22.034 16.679 7.344v-22.876l-16.297-6.502zm34.275 0l-15.071 5.738v21.575l15.071-6.12v-21.193z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">aws</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#FC6D26" d="M126.615 72.31l-7.034-21.647L105.64 7.76c-.716-2.206-3.84-2.206-4.556 0l-13.94 42.903H40.856L26.916 7.76c-.717-2.206-3.84-2.206-4.557 0L8.42 50.664 1.385 72.31a4.792 4.792 0 0 0 1.74 5.358L64 121.894l60.874-44.227a4.793 4.793 0 0 0 1.74-5.357"></path>
                          <path fill="#E24329" d="M64 121.894l23.144-71.23H40.856L64 121.893z"></path>
                          <path fill="#FC6D26" d="M64 121.894l-23.144-71.23H8.42L64 121.893z"></path>
                          <path fill="#FCA326" d="M8.42 50.663L1.384 72.31a4.79 4.79 0 0 0 1.74 5.357L64 121.894 8.42 50.664z"></path>
                          <path fill="#E24329" d="M8.42 50.663h32.436L26.916 7.76c-.717-2.206-3.84-2.206-4.557 0L8.42 50.664z"></path>
                          <path fill="#FC6D26" d="M64 121.894l23.144-71.23h32.437L64 121.893z"></path>
                          <path fill="#FCA326" d="M119.58 50.663l7.035 21.647a4.79 4.79 0 0 1-1.74 5.357L64 121.894l55.58-71.23z"></path>
                          <path fill="#E24329" d="M119.58 50.663H87.145l13.94-42.902c.717-2.206 3.84-2.206 4.557 0l13.94 42.903z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Gitlab</h5>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="box">
                      <div class="fa-stack fa-3x">
                        <svg viewBox="0 0 128 128">
                          <path fill="#90cadc" d="M12.81,67.6a10.2,10.2,0,0,1-9.94-7c-.06-.17-.1-.33-.15-.49A10.69,10.69,0,0,1,9.64,47.07L97,17.8a11.82,11.82,0,0,1,3.19-.47,10.47,10.47,0,0,1,10.21,7.14l.13.42c1.63,5.71-2.43,10.81-7.29,12.44L16.36,67a11.3,11.3,0,0,1-3.55.6Z"></path>
                          <path fill="#c22962" d="M27.37,110.55a10.19,10.19,0,0,1-10-6.89c-.05-.16-.1-.32-.15-.49A10.76,10.76,0,0,1,24.16,90L111.5,60.46a11.24,11.24,0,0,1,3.47-.58A10.55,10.55,0,0,1,125.15,67l.13.44A11.05,11.05,0,0,1,124,76.28c-1.25,1.95-5.19,3.66-5.19,3.66l-87.68,30a12,12,0,0,1-3.71.63Z"></path>
                          <path fill="#d8a534" d="M100.08,110.74a10.72,10.72,0,0,1-10.27-7.31L60.66,16.84l-.15-.49A10.74,10.74,0,0,1,81,10l29.15,86.58.08.28a10.73,10.73,0,0,1-10.17,13.89Z"></path>
                          <path fill="#70b790" d="M56.75,125.33A10.73,10.73,0,0,1,46.48,118L17.33,31.43l-.15-.48a10.72,10.72,0,0,1,6.9-13.12,10.89,10.89,0,0,1,3.34-.56,10.72,10.72,0,0,1,10.27,7.31l29.14,86.59c.05.15.1.32.15.48a10.73,10.73,0,0,1-10.23,13.68h0Z"></path>
                          <path fill="#b02217" d="M85.71,91.24,106,84.29,99.39,64.56,79,71.44Z"></path>
                          <path fill="#2d173a" d="M42.45,106l20.32-6.95L56.08,79.2,35.73,86.08Z"></path>
                          <path fill="#6e852c" d="M71.24,48.26l20.33-6.94L85,21.82,64.64,28.64Z"></path>
                          <path fill="#57947f" d="M28,63,48.3,56.09,41.65,36.34,21.29,43.16,28,63Z"></path>
                        </svg>
                      </div>
                      <h5 class="heading">Slack</h5>
                    </div>
                  </div>
                  <div class="col-sm-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- page 5 - class section-gray adds gray background-->
      <section id="page5" class="section-gray">
        <div class="content">
          <div class="container clearfix">
            <div class="row">
              <div class="col-md-12">
                <h2 class="heading">Portfolio</h2>
                <p class="text-center">Here are some projects I've worked on.</p>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="box">
                      <a href="http://vast-falls-75429.herokuapp.com/" title="Teachaid">
                        <img src="../public/img/portfolio-1.jpg" alt="" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box">
                      <a href="https://inventsang.myportfolio.com/" title="Sang's Design">
                        <img src="../public/img/portfolio-2.jpg" alt="" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box">
                      <a href="#" title="">
                        <img src="../public/img/portfolio-3.jpg" alt="" class="img-responsive">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="box">
                      <a href="#" title="">
                        <img src="../public/img/portfolio-4.jpg" alt="" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box">
                      <a href="#" title="">
                        <img src="../public/img/portfolio-5.jpg" alt="" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="box">
                      <a href="#" title="">
                        <img src="../public/img/portfolio-6.jpg" alt="" class="img-responsive">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- page 6-->
      <section id="page6" class="section-white">
        <div class="content">
          <div class="container clearfix">
            <div class="row">
              <div class="col-md-12">
                <h2 class="heading">Contact</h2>
                {{msg}}
                <div class="row">
                  <div class="col-md-12">
                    <form id="contact-form" method="post" action="send" class="contact-form">
                      <div class="controls">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Your name *</label>
                                <input type="text" name="name" placeholder="Enter your first name" required="required" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="phone">Your phone number *</label>
                              <input type="text" name="phone" placeholder="Enter your phone number" required="required" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="surname">Your email *</label>
                          <input type="email" name="email" placeholder="Enter your email" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="surname">Your message for Sang *</label>
                          <textarea rows="4" name="message" placeholder="Enter your message" required="required" class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-xs-6 col-xs-offset-3">
                    <div class="text-center">
                      <p class="social">
                        <a href="https://www.facebook.com/SangYeopLee" title="facebook" class="facebook">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/rampagesang" title="twiter" class="twitter">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://github.com/rampagesang" title="github" class="gplus">
                          <i class="fa fa-github"></i>
                        </a>
                        <a href="https://www.instagram.com/rampagesang/" title="instagram" class="instagram">
                          <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/inventsang/" title="linkedin" class="email">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </p>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div class="text-center">
                    <div class="col-xs-2 col-xs-offset-5">
                      <a href="../public/img/SYL_dev.pdf" download>
                        <input type="submit" name="name" value="Download Resume" class="btn btn-primary btn-block">
                    </div>
                  </div>
                </div>
                
                <div class="row copyright">
                  <div class="col-md-12">
                    <p align="center">&copy;2018 Sangyeop Lee</p>
                  </div>
                  <div class="col-md-6">
                    <p class="credit"></p>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Javascript files-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.min.js"></script>
  <script src="../public/js/index.js"></script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
  <script>
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
          function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
    ga('create', 'UA-117181783-1'); ga('send', 'pageview');
  </script>
</body>

</html>